{
	email {$ACME_EMAIL}
}

paperclip.korvance.com {
	encode zstd gzip

	reverse_proxy server:3100 {
		flush_interval -1
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
